USE [master]
GO
/****** Object:  Database [LAMBORGHINIS]    Script Date: 08/08/2022 13:24:20 ******/
CREATE DATABASE [LAMBORGHINIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LAMBORGHINIS', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LAMBORGHINIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LAMBORGHINIS_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LAMBORGHINIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LAMBORGHINIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LAMBORGHINIS]
GO
/****** Object:  Table [dbo].[Categoris]    Script Date: 08/08/2022 13:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoris](
	[CodeCate] [nvarchar](20) NOT NULL,
	[NameList] [nvarchar](50) NOT NULL,
	[CategoryType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categoris] PRIMARY KEY CLUSTERED 
(
	[CodeCate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 08/08/2022 13:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CodeCustomer] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Sex] [bit] NOT NULL,
	[Brithday] [date] NOT NULL,
	[Return] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CodeCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08/08/2022 13:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[CodeProduct] [nvarchar](20) NOT NULL,
	[NameProduct] [nvarchar](50) NOT NULL,
	[Categoris] [nvarchar](20) NOT NULL,
	[Price] [nvarchar](12) NOT NULL,
	[Picture1] [nvarchar](255) NULL,
	[Picture2] [nvarchar](255) NULL,
	[Picture3] [nvarchar](255) NULL,
	[Avata] [nvarchar](255) NULL,
	[ImportDate] [date] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
	[ProductionDay] [date] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[CodeProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetails]    Script Date: 08/08/2022 13:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodeRecieptDetail] [nvarchar](20) NOT NULL,
	[CodeProduct] [nvarchar](20) NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_ReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 08/08/2022 13:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[CodeReceipt] [nvarchar](20) NOT NULL,
	[EmailUser] [nvarchar](50) NOT NULL,
	[CodeCustormer] [nvarchar](20) NOT NULL,
	[ExportDate] [date] NOT NULL,
	[Discount] [int] NULL,
	[VAT] [int] NOT NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[CodeReceipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/08/2022 13:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](max) NOT NULL,
	[Position] [bit] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Birthday] [date] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Avata] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categoris] FOREIGN KEY([Categoris])
REFERENCES [dbo].[Categoris] ([CodeCate])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categoris]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Products] FOREIGN KEY([CodeProduct])
REFERENCES [dbo].[Products] ([CodeProduct])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Products]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Receipts] FOREIGN KEY([CodeRecieptDetail])
REFERENCES [dbo].[Receipts] ([CodeReceipt])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Receipts]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Customer] FOREIGN KEY([CodeCustormer])
REFERENCES [dbo].[Customers] ([CodeCustomer])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipt_Customer]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Users] FOREIGN KEY([EmailUser])
REFERENCES [dbo].[Users] ([Email])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipt_Users]
GO
USE [master]
GO
